body{
  background-color: #212121;
  margin-top: -3rem;
}

/*COLORS FOR PROJECT:
#f97ac4
#fc2121
#3ee2fe
#85e88d
#212121
*/


h1{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: bolder;
  font-size: 5rem;
  margin-bottom: -6rem;
}

.hello{
  text-align: center;
  color:
  #85e88d;
}

.bryce{
  color: #3ee2fe;
}

.webdev{
  color: #f97ac4;
}

h3{
  font-family: 'Poppins', sans-serif;
  color: #fc2121;
  font-weight: bolder;
  font-size: 4rem;
  text-align: center;
  margin-top: 0;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: auto;
  border-radius: 35px;
  margin-top: 5.5rem;
}
