body{
  background-color: #212121
}

/*COLORS FOR PROJECT:
#f97ac4
#fc2121
#3ee2fe
#85e88d
#212121
*/


.title{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: bolder;
  font-size: 5rem;
}

#hello{
  color:
  #85e88d;
}

#bryce{
  color: #3ee2fe;
}

#webdev{
  color: #f97ac4;
}

#uc{
  font-family: 'Poppins', sans-serif;
  color: #fc2121;
  font-weight: bolder;
  font-size: 5rem;
}

img{
  float: right;
  margin-top: -70rem;
  border-radius: 20px;
  margin-right: 10rem;
}
